@import url('https://fonts.cdnfonts.com/css/langdon');

/* Paleta de colores */
:root {
  --primary-color: #2980B9;
  --secondary-color: #7FB3D5;
  --accent-color: #F39C12;
  --background-color: #F9F9F9;
  --text-color: #38526b;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
}

.navbar {
  display: flex;
  justify-content: center; /* distribuir los elementos de forma equitativa en la barra de navegación */
  align-items: center; /* centrar verticalmente los elementos */
  background-color: var(--primary-color);
  height: 65px;
  padding: 10px;
}

.navbar-item {
  color: #ffffff;
  font-family: 'Langdon', sans-serif;
  font-size: 22px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.navbar-item:hover {
  background-color: var(--accent-color);
}

.logo {
  height: 52px;
  margin-right: left;
}

.card-link {
  color: var(--text-color);
  text-decoration: none;
}

.card-link:hover {
  color: var(--text-color);
  text-decoration: none;
}

.card-link.active .card {
  border: 3px solid var(--primary-color);
}

.card {
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .25rem;
  margin-top: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.card:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.card-title {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.card-text {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.btn-primary {
  margin-top: 1rem;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  font-size: 18px;
}

.btn-primary:hover {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

@media (max-width: 576px) {
  .card-link {
    display: block;
  }

  .card {
    margin-bottom: 1rem;
  }
}

.form-check-input {
  margin-right: 10px;
}

.form-check-label {
  font-size: 18px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin: 0 20px; /* agrega un margen izquierdo y derecho de 20px */
  flex-wrap: wrap;
}

#confirmar {
  display: block;
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
}

.form-field {
  margin-bottom: 1rem;
}





.register-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.register-form-title {
  margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: #F2F2F2;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}