{% load static %}
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <!-- Fuente personalizada -->
        <link href="https://fonts.cdnfonts.com/css/langdon" rel="stylesheet">
        <!-- Estilos de Bootstrap -->
        <link rel="stylesheet" href="{% static 'static/css/bootstrap.min.css' %}">
        <!-- Estilos personalizados -->
        <link rel="stylesheet" type="text/css" href="{% static 'static/css/styles.css' %}">
        <!-- Biblioteca de popper -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
        <!--  jQuery -->
        <script src="{% static 'static/js/jquery-3.6.4.min.js' %}"></script>
        <!-- biblioteca de Bootstrap -->
        <script src="{% static 'static/js/bootstrap.min.js' %}"></script>
        {% block head %}
        {% endblock %}
    </head>

    <body>
        <div class="navbar">
            <a href="{% url 'inicio' %}">
                <img src="{% static 'static/img/flg_logo5319size.png' %}" alt="Logo" class="logo">
            </a>
            <a href="{% url 'inicio' %}" class="navbar-item">INICIO</a>
            <a href="{% url 'cola' %}" class="navbar-item">TICKETS</a>
        </div>
        {% block content %}
        {% endblock %}

        {% block extra_js %}
        {% endblock %}
    </body>
</html>
