{% extends 'base.html' %}

{% block title %}Tickets - Turnero{% endblock %}

{% block content %}
{% load humanize %}
  <div class="row">
    <div class="col-md-12">
      <h2>Cola de espera</h2>
      <hr>
      {% if tickets_en_cola %}
        <div class="row">
          <div class="col-md-12">
            <h4>Próximo ticket en la cola:</h4>
            {% if tickets_en_cola %}
              {% with siguiente_ticket=tickets_en_cola.0 %}
                <div class="card mb-3">
                  <div class="card-body">
                    <h5 class="card-title">Ticket {{ siguiente_ticket }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ siguiente_ticket.ticket.servicio_elegido.descripcion}}</h6>
                    <form method="post" action="{% url 'llamar_ticket' %}">
                      {% csrf_token %}
                      <input type="hidden" name="ticket_codigo" value="{{ siguiente_ticket.ticket }}">
                      <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#llamando-ticket-modal">Llamar ticket</button>
                    </form>
                    <div class="mt-3">
                      {% if messages %}
                        {% for message in messages %}
                          <div class="alert alert-success">{{ message }}</div>
                        {% endfor %}
                      {% endif %}
                    </div>
                  </div>
                </div>
              {% endwith %}
            {% else %}
              <p>No hay tickets en la cola.</p>
            {% endif %}

          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h4>Tickets en espera:</h4>
            {% if tickets_en_cola|length > 1 %}
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Ticket</th>
                  <th>Cliente</th>
                  <th>Servicio</th>
                  <th>Tiempo Espera</th>
                </tr>
              </thead>
              <tbody>
                {% for ticket in tickets_en_cola|slice:":1" %}
                {% with siguiente_ticket=ticket.ticket %}
                {% endwith %}
                {% endfor %}
                {% for ticket in tickets_en_cola|slice:"1:" %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ ticket }}</td>
                  <td>{{ ticket.ticket.cliente.nombre }} {{ ticket.ticket.cliente.apellidos }}</td>
                  <td>{{ ticket.ticket.servicio_elegido.descripcion }}</td>
                  <td>{{ ticket.min_fecha_creacion|naturaltime }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% else %}
            <p>No hay tickets en espera.</p>
            {% endif %}
          </div>
        </div>        
      {% else %}
        <p>No hay tickets en la cola.</p>
      {% endif %}
    </div>
  </div>

{% endblock %}