{% extends 'base.html' %}

{% block title %}Detalle - Turnero{% endblock %}

{% block content %}
<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title">Detalle del ticket {{ ticket.codigo }}</h1>

      <p class="card-text">Servicio: {% if ticket.servicio_elegido %}{{ ticket.servicio_elegido.descripcion }}{% else %}Pendiente{% endif %}</p>
      <p class="card-text">Cliente: {{ ticket.cliente.nombre }} {{ ticket.cliente.apellidos }}</p>

      {% if ticket.servicio_elegido %}
          <a href="{% url 'cola' %}" class="btn btn-primary btn-lg mt-3">Siguiente</a>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
