{% extends 'base.html' %}
{% block title %}Inicio - Turnero{% endblock %}
{% block content %}
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-6">
        <div class="card shadow">
          <div class="card-header bg-primary text-white">
            <h3 class="card-title mb-0">Bienvenido a TURNERO</h3>
          </div>
          <div class="card-body">
            <form method="post">
              {% csrf_token %}
              <div class="form-group">
                <label for="cedula">Cédula:</label>
                <input type="text" name="cedula" id="cedula" class="form-control">
              </div>
              <button type="submit" class="btn btn-primary btn-block mt-4">Ingresar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}










