{% extends 'base.html' %}
{% block title %}Prioridad - Turnero{% endblock %}

{% block content %}
  <div class="d-flex justify-content-center">
    <form method="POST" class="mt-5">
      {% csrf_token %}
      <h1>Seleccionar Prioridad</h1>
      {% for prioridad in prioridades %}
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="prioridad[]" id="{{ prioridad.abreviacion }}" value="{{ prioridad.abreviacion }}">
          <label class="form-check-label" for="{{ prioridad.abreviacion }}">
            {{ prioridad.descripcion }}
          </label>
        </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary mt-3">Siguiente</button>
    </form>
  </div>
{% endblock %}

