{% extends 'base.html' %}

{% block title %}Registro - Turnero{% endblock %}

{% block content %}
    <div class="register-form-container">
        <h1 class="register-form-title">Registro de Cliente</h1>
        <form method="post" class="register-form">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" value="OK">
        </form>
    </div>
{% endblock %}

