{% extends 'base.html' %}

{% block title %}Servicio - Turnero{% endblock %}

{% block content %}
  <h2>Selecciona el servicio</h2>

  <div class="row">
    {% for servicio in servicios %}
      <div class="col-md-4">
        <a href="#" class="card-link" id="servicio-{{ servicio.id }}">
          <div class="card border-secondary mb-3">
            <div class="card-body">
              <h5 class="card-title">{{ servicio.nombre }}</h5>
              <p class="card-text">{{ servicio.descripcion }}</p>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>

  <form method="POST" action="{% url 'servicio' ticket_id prioridad_id %}">
    {% csrf_token %}
    <input type="hidden" name="servicio" id="selected-service" value="">
    <button type="submit" class="btn btn-primary" id="confirmar">Confirmar</button>
  </form>

{% endblock %}

{% block extra_js %}
  <script>
    $(document).ready(function(){
      $('.card-link').click(function(e){
        e.preventDefault();
        var serviceId = $(this).attr('id').split('-')[1];
        $('#selected-service').val(serviceId);
        $('.card-link').removeClass('active');
        $(this).addClass('active');
      });
    });
  </script>
{% endblock %}
